section.main 
	.main-content 
		.main-content__text
			p.main-content__subtitle / mad metasciencist mint
			h1.main-content__title ntfs have evolved
		.main-content__join.join
			.join__svg
				svg.join__play-icon
					use(xlink:href='@svg/play')
			p.join__text join the community
