header.header
	._container
		.header__content
			.menu__burger-button
				.menu__burger-btn
			.menu__burger 
				nav.menu__burger-menu 
					ul.menu__burger__list 
						li.menu__burger__link
							a.menu__burger__link-a(href="#") lightpaper
						li.menu__burger__link
							a.menu__burger__link-a(href="#") FAQ
						li.menu__burger__link
							a.menu__burger__link-a(href="#") How to play 
			nav.header__menu
				ul.header__list 
					li.header__link
						a.header__link-a(href="#") lightpaper
					li.header__link
						a.header__link-a(href="#") FAQ
					li.header__link
						a.header__link-a(href="#") How to play 
			a.header__join(href="#")
				span.header__join-link Join the community
			