-
	const steps = [
		{
			title: 'q3 2022',
			liArray: [
				'The MAD Metascientist Face Reveal Event',
				'Research Program Launch',
				'Particle Program Launch',
				'The MAD Nanocell Spawn',
				'The Field (Native DEX) Launch',
				'Super Scientists',
				'The MAD Nanocell Airdrop',
			]
		},
		{
			title: 'q4 2022',
			liArray: [
				'The Nano Wars Game',
				'Royal Bloodline',
				'The MAD Governance Token Airdrop',
				'NANO Upgrades',
			]
		},
		{
			title: 'q1 2023',
			liArray: [
				'The Field 2.0 Launch',
				'Solana Cross-Chain Support',
			]
		},
		{
			title: 'q2 2022',
			liArray: [
				'The MAD Metascientist Mint',
				'The Lab Launch',
				'The Field Launch',
				'The MAD Metacell Spawning',
				'MDMA Token Airdrop',
				'MAD Metacell Evolution Inception',
				'MAD Metacell Manipulation',
				'Host Protocol',
				'Crypto Protocol Launch',
			]
		},
	]
section.roadmap
	h2.team__title.roadmap__title roadmap
	.roadmap__wrapper
		.roadmap__content
			each step in steps
				.roadmap__item 
					h4.roadmap__subtitle= step.title
						span //
					.roadmap__text
						ul.roadmap__text-ul
							each li in step.liArray
								li.roadmap__text-li= li