

section.team 
	._container
		h2.team__title team
		.team__grid
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')
			.team__grid-transform
				.team__grid-wrapper
					.team__grid-overlay
					.team__grid-item
						.team__grid-photo
							.team__grid-fade 
							img.team__grid-img(src='@img/photo.jpg')
						.team__grid-content
							p.team__grid-name Alexandra Voronova
							.team__grid-label 
								span.team__grid-text Malevich
								a.team__grid-link(href='http://www.google.com')
									svg.team__grid-linkedin
										use(xlink:href='@svg/linkedin')

