section.welcome
	._container
		.welcome__content
			.welcome__title welcome
			.welcome__subtitle to the mad metaverse
		.welcome__label
			span.welcome__label-title mad metasciencist mint
			span.welcome__label-q q1  2022
			.welcome__label-text A collaborative gamified Metaverse, for all NFT's & crypto. Mint your MAD Metascientist and start playing, trading, earning and battling in the brand new play-to-earn game of evolution.
			.welcome__label-text_vertical 34.0501 N +118.2446R
		.welcome__grid
			.welcome__grid-item
				.welcome__grid-title it all starts with your meta sciencist
					<span>//</span>
				.welcome__grid-text Every player needs a MAD Metascientist to enter the first stage of the MAD Metaverse and to start experimenting in the lab to evolve cells into new biodigital creatures.
			.welcome__grid-item
				.welcome__grid-title it all starts with your meta sciencist
					<span>//</span>
				.welcome__grid-text Every player needs a MAD Metascientist to enter the first stage of the MAD Metaverse and to start experimenting in the lab to evolve cells into new biodigital creatures.
			.welcome__grid-item
				.welcome__grid-title it all starts with your meta sciencist
					<span>//</span>
				.welcome__grid-text Every player needs a MAD Metascientist to enter the first stage of the MAD Metaverse and to start experimenting in the lab to evolve cells into new biodigital creatures.
			.welcome__grid-item
				.welcome__grid-title it all starts with your meta sciencist
					<span>//</span>
				.welcome__grid-text Every player needs a MAD Metascientist to enter the first stage of the MAD Metaverse and to start experimenting in the lab to evolve cells into new biodigital creatures.