doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		title About Us
	body 
		include components/header

		section.section__main
			p Это страница "О нас"
			p Привет из главной секции!

		include components/footer
		script(src='js/app.min.js')
