doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		title Main Page
	body
		include components/header
		
		include components/header-fullscreen
		p Это главная страница!
		p Привет из главной секции!

		include components/footer
		script(src='js/app.min.js')
